{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["markup", "css", "scss", "javascript"],
        "plugins": ["line-numbers", "normalize-whitespace", "unescaped-markup"],
        "theme": "okaidia"
      }
    ]
  ]
}
